<!DOCTYPE html>

<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[adultswim] images - killed</title>
        <link rel="stylesheet" href="Content/styles/normalize.css">
        <link rel="stylesheet" href="Content/styles/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="Scripts/jquery.sortable.min.js"></script>
        <script src="Scripts/handlebars-v1.1.2.js"></script>
        <script src="Scripts/moment.min.js"></script>
        <script type="text/javascript">
            var imageTemplate = [
                '{{#.}}',
                '<li data-url="{{url}}" id="{{_id}}">' + 
                    "<img src={{{url}}} width='200' height='200' alt='' />" +
                    "<div class='itemoverlay'>" +
                        "<div class='addtoqueue'><img src='./Content/images/plus.png' width='25' height='25' alt='' /><span>ADD TO QUEUE</span></div>" +
                        "<div class='restore'><img src='./Content/images/restore.png' width='25' height='25' alt='' /><span>RESTORE</span></div>" +
                    "</div>" +
                    '<div class="imgdata">' +
                        '<span class="metadata">' +
                            '<span class="uploader">Name: <span>{{uploader}}</span></span><br>' +
                            '<span class="credit">Image: <a target="_blank" href="{{url}}">{{url}} </a> ({{sizeFormat size}} kb) </span><br>' +
                            '<span class="url">URL: <a target="_blank" href="{{credit_url}}">{{credit_url}}</a></span><br>' +
                            '<span class="tagslist">Tags: {{#each tags}}<span>{{this}}</span>,{{/each}}</span>' +
                        '</span>' +
                    '</div>' +
                '</li>',
                '{{/.}}'
            ].join("");

            var ttlImgs = 0, loaded = 0;

            $(document).ready(function(){
                Handlebars.registerHelper('dateFormat', function(value){
                    return moment(value).format('MMMM Do YYYY, h:mm:ss a');
                });

                Handlebars.registerHelper('sizeFormat', function(value){
                    return parseFloat(Math.round(value * 100) / 100).toFixed(2);
                });

                Handlebars.registerHelper('oneBasedIndex', function(value){
                    return parseInt(value) + 1;
                });

                $('.home').on('click', function(){ document.location = '/'});

                loadPublishedSets();
            });

            function loadPublishedSets() {
                $('.killed').html('');
                $.ajax({
                    type: "GET",
                    url: "/killed",
                    dataType: "text",
                    success: function(data, status, exthing){
                        var template = Handlebars.compile(imageTemplate);
                        var sets = JSON.parse(data);
                        $('#staticWrapper').css('display', 'block');
                        //console.log(JSON.stringify(sets));
                        ttlImgs = sets.length;
                        for (var i = 0; i < ttlImgs; i++) {
                            if (i == 0) console.log(sets[i]);
                            //loadSet(sets[i]._id);
                            $('.killed').append(template(sets[i]));
                        }
                        $('.killed li').hover(selectItem, unselectItem);

                        //removes the last comma in the string
                        $('.tagslist').each(function() {
                            var str = $(this).html();
                            str = str.substring(0, str.length - 1);
                            $(this).html(str);
                        });

                        $('.addtoqueue').click(publish);
                        $('.restore').click(restore);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.debug(textStatus);
                    }
                });
            }

            function loadSet(id) {
                $.ajax({
                    type: "GET",
                    url: "/queue/" + id,
                    dataType: 'text',
                    success: function(data, status, exthing){
                        var template = Handlebars.compile(imageTemplate);
                        var images = JSON.parse(data);
                        $('.killed').append(template(images.set));
                        $('#staticWrapper').css('display', 'block');
                        loaded++;
                        if (ttlImgs == loaded) {
                        }
                    }
                })
            }

            function selectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function unselectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function publish() {
                var par = $(this).parent().parent();
                console.log('restoring id:' + $(par).attr('id') + " url:" + $(par).data('url'));
                $.ajax({
                    type: "POST",
                    url: "/restore",
                    data: {"images" : [{"id": $(par).attr('id'), "url":$(par).data('url')}]},
                    success: function(data, status, ex) {
                        console.log('restored!');
                        console.log('adding to queue id:' + $(par).attr('id') + " url:" + $(par).data('url'));
                        loadPublishedSets();

                        $.ajax({
                            type: "POST",
                            url: "/queue",
                            data: {"images" : [{"id": $(par).attr('id'), "url":$(par).data('url')}]},
                            success: function(data, status, ex) {
                                console.log('added to queue!');
                                //loadPublishedSets();
                            },
                            error: function() {
                              console.log('error: cant get to /queue path');
                            }
                        });
                    },
                    error: function() {
                      console.log('error: cant get to /queue path');
                    }
                });
            }

            function restore() {
                var par = $(this).parent().parent();
                console.log('restoring id:' + $(par).attr('id') + " url:" + $(par).data('url'));
                $.ajax({
                    type: "POST",
                    url: "/restore",
                    data: {"images" : [{"id": $(par).attr('id'), "url":$(par).data('url')}]},
                    success: function(data, status, ex) {
                        console.log('restored!');
                        loadPublishedSets();
                    },
                    error: function() {
                      console.log('error: cant get to /queue path');
                    }
                });
            }
        </script>
    </head>
    <body>
        <header>
            <div class="home"></div>
            <a href="/killed.html" id="killed" style='color: blue;'>[ view killed ]</a>
            <a href="/published.html" id="published">[ view published ]</a>
            <a href="/queued.html" id="queuebar">[ view queue ]</a>
        </header>
        <section class="fullcontent">
            <h3 style="padding: 1em;">killed sets of images</h3>
            <div id="staticWrapper">
                <div class="header"></div>
                <ul class="killed"></ul>
            </div>
            <div class="published_list"></div>
        </section>
    </body>
</html>