<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[adultswim] images - published</title>
        <link rel="stylesheet" href="Content/styles/normalize.css">
        <link rel="stylesheet" href="Content/styles/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="Scripts/jquery.sortable.min.js"></script>
        <script src="Scripts/jquery.lazyload.min.js" type="text/javascript"></script>
        <script src="Scripts/handlebars-v1.1.2.js"></script>
        <script src="Scripts/moment.min.js"></script>

        <script type="text/javascript">
            var imageTemplate = [
                '{{#.}}',
                '<li>' + 
                    "<img class='lazy' data-original={{{url}}} width='200' height='200' alt='' />" +
                    "<div class='itemoverlay'>" +
                        'PUBLISHED <br />' +
                    "</div>" +
                    '<div class="imgdata">' +
                        '<span class="metadata">' +
                            '<span class="uploader">Name: <span>{{uploader}}</span></span><br>' +
                            '<span class="credit">Image: <a target="_blank" href="{{url}}">{{credit_url}} ({{sizeFormat size}} kb)</a></span><br>' +
                            /*'<span class="credit">Image: <a target="_blank" href="{{url}}">{{url}} </a> ({{sizeFormat size}} kb) </span><br>' +
                            '<span class="url">URL: <a target="_blank" href="{{credit_url}}">{{credit_url}}</a></span><br>' +*/
                            '<span class="tagslist">Tags: {{#each tags}}<span>{{this}}</span>,{{/each}}</span>' +
                        '</span>' +
                    '</div>' +
                '</li>',
                '{{/.}}'
            ].join("");

            var ttlImgs = 0, loaded = 0;

            //dates array holds each individual date for filter
            var dates = [];
            //totalDates is the number of dates displayed. used to calc height of filter box and to not search for an empty index in array
            var totalDates = 0;
            //holds the selected dates for the filter
            var shownDates = [];

            $(document).ready(function(){
                /*Handlebars.registerHelper('dateFormat', function(value){
                    return moment(value).format('MMMM Do YYYY h:mm:ss a');
                });*/

                Handlebars.registerHelper('sizeFormat', function(value){
                    return parseFloat(Math.round(value * 100) / 100).toFixed(2);
                });

                Handlebars.registerHelper('oneBasedIndex', function(value){
                    return parseInt(value) + 1;
                });

                $('.home').on('click', function(){ document.location = '/'});

                //open and close for the filters panel
                $(".filters .open").click(function() {
                    $("body").toggleClass("filter");
                });

                $('#clearfilter').hide();
                $('#clearfilter').click(function () {
                    $('h3').text('Published images');
                    $('.published li').show();
                    $(this).hide();
                });

                loadPublishedSets();
            });

            function loadPublishedSets(){
                $('.published_list').html('');
                $.ajax({
                    type: "GET",
                    url: "/queue/published",
                    dataType: "text",
                    success: function(data, status, exthing){
                        //var template = Handlebars.compile(publishedTemplate);
                        var sets = JSON.parse(data);
                        //$('.published_list').html(template(sets));
                        console.log(JSON.stringify(sets));
                        ttlImgs = sets.length;
                        var addedSeeMore = false;
                        for (var i = 0; i < ttlImgs; i++) {
                            if (i == 0) console.log('id: ' + sets[i].id);

                            var thisDate = sets[i].lastModified.split('T')[0];
                            console.log('date ' + thisDate);
                            if (dates.indexOf(thisDate) == -1) {
                                dates.push(thisDate);
                                if (dates.length < 11)
                                    $('#dates').append('<li data-filter="' + thisDate + '" class="filter-link"><label for="cb' + thisDate + '">' + thisDate + '</label><input type="checkbox" id="cb' + thisDate + '" /></li>');
                                if (dates.length == 11 && !addedSeeMore) {
                                    $('#dates').append('<li id="seemore">...More Dates</li>');
                                    $('#dates').append("<li id='cleardatefilter'><img src='./Content/images/x.png' width='20' height='20' alt='' /><span>VIEW ALL DATES</span></li>");
                                    addedSeeMore = true;
                                    totalDates = 10;
                                }
                            }

                            loadSet(sets[i].id);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.debug(textStatus);
                    }
                });
            }

            function loadSet(id){
                $.ajax({
                    type: "GET",
                    url: "/queue/" + id,
                    dataType: 'text',
                    success: function(data, status, exthing){
                        var template = Handlebars.compile(imageTemplate);
                        var images = JSON.parse(data);
                        if (loaded == 0) { console.log(images); console.log('date of set ' + images.lastModified); }

                        $('.published').append(template(images.set));

                        $('.imgdata').each(function() {
                            if ($(this).attr('data-date') == undefined) 
                                $(this).attr('data-date', images.lastModified.split('T')[0]);
                        });
                        $('.itemoverlay').each(function() {
                            if ($(this).html() == 'PUBLISHED <br>')
                                $(this).append(moment(images.lastModified).format('MMMM Do YYYY h:mm:ss a'));
                        });

                        $('#staticWrapper').css('display', 'block');
                        loaded++;
                        if (ttlImgs == loaded) {
                            $("img.lazy").lazyload();
                            $('.published li').hover(selectItem, unselectItem);

                            //removes the last comma in the string
                            $('.tagslist').each(function() {
                                var str = $(this).html();
                                str = str.substring(0, str.length - 1);
                                $(this).html(str);
                            });

                            $('input[type="checkbox"]').change(dateFilter);

                            /*$('.tagslist span').click(filterByTag);
                            $('.uploader span').click(filterByName);*/
                        }
                    }
                });
            }

            function selectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function unselectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function dateFilter(e) {
                var dateSelected = e.target.id.split('cb')[1];
                $('.published li').each(function() {
                    if (e.target.checked) {
                        if (shownDates.indexOf(dateSelected) == -1) {
                            shownDates.push(dateSelected);
                        }
                        if (shownDates.indexOf($(this).children('.imgdata').attr('data-date').split('T')[0]) != -1) {
                            $(this).show();
                        }
                        else 
                            $(this).hide();
                    }
                    else {
                        if (shownDates.indexOf(dateSelected) != -1) {
                            shownDates.splice(shownDates.indexOf(dateSelected), 1);
                        }
                        if (shownDates.length > 0 && shownDates.indexOf($(this).children('.item').attr('data-date').split('T')[0]) == -1)
                            $(this).hide();
                        else
                            $(this).show();
                    }
                });
                var heading = 'Showing all content';
                for (var i = 0; i < shownDates.length; i++) {
                    if (i == 0)
                        heading += ' for '
                    heading += shownDates[i] + ', ';
                }
                if (shownDates.length > 0)
                    heading = heading.substring(0, heading.length - 2);
                heading += '.';
                $('.heading').text(heading);
                $("img.lazy").lazyload();
            }

            /*function filterByTag() {
                var tag = $(this).text();
                $('h3').html('Published images filtered by tag ' + tag);
                $('.published li').each(function() {
                    if ($(this).children('.imgdata').children('.metadata').children('.tagslist').html().indexOf(tag) == -1)
                        $(this).hide();
                });
                $('#clearfilter').show();
            }

            function filterByName() {
                var name = $(this).text();
                $('h3').html('Published images filtered by user ' + name);
                $('.published li').each(function() {
                    console.log($(this).children('.imgdata').children('.metadata').children('.uploader').children('span').text());
                    if ($(this).children('.imgdata').children('.metadata').children('.uploader').children('span').text() != name)
                        $(this).hide();
                });
                $('#clearfilter').show();
            }*/
        </script>
    </head>

    <body>
        <header>
            <div class="home"></div>
            <a href="/killed.html" id="killed">[ view killed ]</a>
            <a href="/published.html" id="published" style='color: blue;'>[ view published ]</a>
            <a href="/queued.html" id="queuebar">[ view queue ]</a>
        </header>
        <section class="fullcontent">
            <h3 style="padding-left: 1em;">Published images</h3>
            <div id='clearfilter'>
                <img src="./Content/images/x.png" width='20' height='20' alt='' />
                <span>CLEAR ALL FILTERS</span>
            </div>
            <div id="staticWrapper">
                <div class="header"></div>
                <ul class="published"></ul>
            </div>
            <div class="published_list"></div>
            <div class="filters">
                <button class="open">[ filters ]</button>
                <h2>filters</h2>
                <h4>by date</h4>
                <h4>select</h4>
                <ul id='dates'></ul>
            </div>
        </section>
    </body>

</html>