<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[adultswim] images - queued</title>
        <link rel="stylesheet" href="Content/styles/normalize.css">
        <link rel="stylesheet" href="Content/styles/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="Scripts/jquery.sortable.min.js"></script>
        <script src="Scripts/handlebars-v1.1.2.js"></script>
        <script src="Scripts/moment.min.js"></script>

        <script type="text/javascript">
            var imageTemplate = [
                '{{#.}}',
                '<li data-url="{{url}}" id="{{id}}"">' +
                    "<img src={{{url}}} width='200' height='200' alt='' />" +
                    "<div class='itemoverlay'>" +
                        "<div class='publish'><img src='./Content/images/arrow.png' width='25' height='10' alt='' /><span>PUBLISH TO CDN</span></div>" +
                        "<div class='remove'><img src='./Content/images/no.png' width='25' height='25' alt='' /><span>REMOVE FROM QUEUE</span></div>" +
                    "</div>" +
                    '<div class="imgdata">' +
                        '<span class="metadata">' +
                            //'<span class="uploader">Name: <span>{{uploader}}</span></span><br>' +
                            '<span class="credit">Image: <a target="_blank" href="{{url}}">{{url}} </a>' /*+ ({{sizeFormat size}} kb)*/ + '</span><br>' +
                            //'<span class="url">URL: <a target="_blank" href="{{credit_url}}">{{credit_url}}</a></span><br>' +
                            //'<span class="tagslist">Tags: {{#each tags}}<span onclick="filterByTag(this)">{{this}}</span>,{{/each}}</span>' +
                        '</span>' +
                    '</div>' +
                '</li>',
                '{{/.}}'
            ].join("");

            var ttlImgs = 0, loaded = 0;
            var allImgs = [];

            $(document).ready(function(){
                Handlebars.registerHelper('dateFormat', function(value){
                    return moment(value).format('MMMM Do YYYY, h:mm:ss a');
                });

                Handlebars.registerHelper('sizeFormat', function(value){
                    return parseFloat(Math.round(value * 100) / 100).toFixed(2);
                });

                Handlebars.registerHelper('oneBasedIndex', function(value){
                    return parseInt(value) + 1;
                });

                $('.home').on('click', function(){ document.location = '/'});
                $('#puball').click(puball);
                $('#kilall').click(kilall);
                $('#remall').click(remall);

                loadPublishedSets();
            });

            function loadPublishedSets(){
                $('.queue').html('');
                $.ajax({
                    type: "GET",
                    url: "/queue",
                    dataType: "text",
                    success: function(data, status, exthing){
                        //publishedTemplate.mid = JSON.stringify(sets._id);
                        //var template = Handlebars.compile(publishedTemplate);
                        //var s = data.splice(0,1);
                        var sets = JSON.parse(data);
                        //sets.splice(0,1);
                        //$('.queued_list').html(template(sets));
                        ttlImgs = sets.length
                        for (var i = 0; i < ttlImgs; i++) {
                            if (i == 0) { console.log('loadPhublishedSets'); console.log(sets[i]); }
                            //console.log(JSON.stringify(sets[i].id));
                            loadSet(sets[i].id)
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.debug(textStatus);
                    }
                });
            }

            function loadSet(id){
                //console.log(id);
                $.ajax({
                    type: "GET",
                    url: "/queue/" + id,
                    dataType: 'text',
                    success: function(data, status, exthing){
                        var template = Handlebars.compile(imageTemplate);
                        var images = JSON.parse(data);
                        if (loaded == 0) { 
                            console.log('loadSet:');
                            console.log(images);
                        }
                        var queue = $('.queue');

                        for (var i = 0; i < images.set.length; i++)
                            allImgs.push({ 'id': images.set[i].id, 'url': images.set[i].url, 'qid': images._id });

                        var html = template(images.set);
                        html = html.substring(0, 4) + 'q-id="' + id + '"' + html.substring(4, html.length);
                        queue.append(html);
                        $('#staticWrapper').css('display', 'block');

                        loaded++;
                        if (ttlImgs == loaded) {
                            $('.queue li').hover(selectItem, unselectItem);

                            //removes the last comma in the string
                            $('.tagslist').each(function() {
                                var str = $(this).html();
                                str = str.substring(0, str.length - 1);
                                $(this).html(str);
                            });
                            
                            $('.publish').click(function() {
                                var obj = $(this).parent().parent();
                                $.ajax({
                                    type: "GET",
                                    url: "/token",
                                    success: function(data, status, ex){
                                        console.log('token received!');
                                        console.log(data.token);
                                        console.log(obj);
                                        /*$.ajax({
                                            type: 'POST',
                                            url: '/upload',
                                            data: { 
                                                token: data.token,
                                                files {
                                                    file {
                                                        name: ,
                                                        size: ,
                                                        path: 
                                                    }
                                                }
                                            },
                                            success: function(data) {
                                                console.log('published!');
                                                console.log(data);
                                            },
                                            error: function () {
                                                console.log('error: cant get to /upload path');
                                            }
                                        });*/
                                    },
                                    error: function() {
                                      console.log('error: cant get to /token path');
                                    }
                                });
                            });
                            $('.remove').click(function() {
                                var p = $(this).parent().parent();
                                $.ajax({
                                    type: 'POST',
                                    url: '/queue/' + p.attr('q-id') + '/dequeue',
                                    data: { 'images': [ { 'id': p.attr('id'), 'url': p.attr('data-url') } ] },
                                    success: function(data, status, exthing) {
                                        console.log('removed from queue');
                                        loadPublishedSets();
                                    }
                                });
                            });
                        }
                    }
                });
            }

            function selectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function unselectItem(e) {
                $(this).children('.itemoverlay').toggleClass('selected');
            }

            function puball() {
                
            }

            function kilall() {
                /*$.ajax({
                    type: 'POST',
                    url: '/kill',
                    data: { allImgs },
                    success: function(data, status, exthing) {
                        console.log('moved all items to killed');
                        //loadPublishedSets();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log('kilall error');
                        console.debug(textStatus);
                    }
                });*/
            }

            function remall() {
                /*for (var i = 0; i < allImgs.length; i++){
                    $.ajax({
                        type: 'POST',
                        url: '/queue/' + allImgs[i].qid + '/dequeue',
                        data: { 'images': [ { 'id': allImgs[i].id, 'url': allImgs[i].url } ] },
                        success: function(data, status, exthing) {
                            console.log('removed all from queue');
                            //loadPublishedSets();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log('remall error');
                            console.debug(textStatus);
                        }
                    });
                }*/
            }
        </script>
    </head>

    <body>
        <header>
            <div class="home"></div>
            <a href="/killed.html" id="killed">[ view killed ]</a>
            <a href="/published.html" id="published">[ view published ]</a>
            <a href="/queued.html" id="queuebar" style='color: blue;'>[ view queue ]</a>
        </header>
        <section class="fullcontent">
            <h3 style="padding: 1em; float:left;">Latest queued sets of images</h3><br/>
            <div id='queue_btns'>
                <div id='puball'><img src='./Content/images/arrow.png' width='62.5' height='25' alt=''/>PUBLISH ALL</div>
                <div id='kilall'><img src='./Content/images/no.png' width='25' height='25' alt=''/>KILL ALL</div>
                <div id='remall'><img src='./Content/images/restore.png' width='25' height='25' alt=''/>REMOVE ALL</div>
            </div>
            <div id="staticWrapper">
                <div class="header"></div>
                <ul class="queue"></ul>
            </div>
        </section>
    </body>
</html>