* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  min-width: 40em;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -ms-transition: width 0.4s;
  transition: width 0.4s;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000 url(../images/adultswim.svg) no-repeat;
  background-position: 1em center;
  background-size: auto 50%;
  padding: 1em 1em 1em 1em;
  height: 60px;
  width: 100%;
  min-width: 800px;
  z-index: 100;
}
body header a {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  float: right;
  margin: 5px;
}
body header a:hover {
  color: blue;
}
body #clearfilter {
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  cursor: pointer;
}
body #clearfilter img,
body #clearfilter span {
  vertical-align: middle;
}
body .fullcontent {
  padding-top: 60px;
}
body .fullcontent .heading {
  margin-top: 5px;
  margin-left: 6px;
  margin-bottom: -10px;
  font-size: 22px;
  float: left;
}
body .fullcontent #queue_btns {
  float: right;
  margin-top: -10px;
}
body .fullcontent #queue_btns div {
  display: inline-block;
  border: 2px solid;
  padding: 5px;
  margin: 0 15px 15px;
  vertical-align: middle;
  cursor: pointer;
}
body .fullcontent #queue_btns div img {
  vertical-align: middle;
  margin-right: 5px;
}
a,
a:hover {
  text-decoration: none;
}
.item-wrapper {
  width: 300px;
  float: left;
}
.item-wrapper .imgdata .metadata {
  color: #000;
  font-size: 0.8em;
}
.item-wrapper .imgdata .metadata .credit {
  color: blue;
}
.item-wrapper .imgdata .metadata .url {
  cursor: pointer;
  verticl-align: top;
}
.item-wrapper .imgdata .metadata .url a {
  max-width: 266px;
  overflow: hidden;
  display: inline-block;
}
.item-wrapper .imgdata .metadata .uploader,
.item-wrapper .imgdata .metadata .credit,
.item-wrapper .imgdata .metadata .tagslist {
  color: green;
}
.item-wrapper .imgdata .metadata .uploader span,
.item-wrapper .imgdata .metadata .credit span,
.item-wrapper .imgdata .metadata .tagslist span,
.item-wrapper .imgdata .metadata .uploader a,
.item-wrapper .imgdata .metadata .credit a,
.item-wrapper .imgdata .metadata .tagslist a {
  cursor: pointer;
  color: grey;
}
.item-wrapper .imgdata .metadata .uploader span:hover,
.item-wrapper .imgdata .metadata .credit span:hover,
.item-wrapper .imgdata .metadata .tagslist span:hover,
.item-wrapper .imgdata .metadata .uploader a:hover,
.item-wrapper .imgdata .metadata .credit a:hover,
.item-wrapper .imgdata .metadata .tagslist a:hover {
  color: blue;
}
.item-wrapper .itemoverlay {
  width: 200px;
  height: 200px;
  background: black;
  color: white;
  margin: -208px 8px 8px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.item-wrapper .itemoverlay div {
  padding: 55px 16px 0;
  cursor: pointer;
}
.item-wrapper .itemoverlay div img {
  float: left;
}
.item-wrapper .itemoverlay div span {
  float: left;
  margin: 6px 10px;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
section {
  width: 100%;
  box-sizing: border-box;
  /*padding:1em;*/
}
.home {
  width: 200px;
  height: 59px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
div#queuebar {
  /*width:25%;*/
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 1em;
  background: #000000;
  margin: 0.5em;
  font-size: 1.2em;
}
.gallery {
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -ms-transition: width 0.4s;
  transition: width 0.4s;
  width: 100%;
  min-height: 100%;
  margin-left: 1%;
  padding-top: 14px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.published_list {
  margin-left: 1%;
  padding-top: 14px;
}
body.filter .gallery {
  width: 75%;
}
body.filter .filters {
  width: 26%;
}
.gallery.loading .item {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  opacity: 0;
}
.item {
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: .5em;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: opacity .2s, border .2s;
  -moz-transition: opacity .2s, border .2s;
  -o-transition: opacity .2s, border .2s;
  -ms-transition: opacity .2s, border .2s;
  transition: opacity .2s, border .2s;
}
.item .overlay {
  position: relative;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  -ms-transition: border 0.4s;
  transition: border 0.4s;
  border: 0px;
  background: none;
  width: 100%;
  height: 100%;
}
.item.selected .overlay {
  border: 8px solid #000000;
}
.itemoverlay.selected {
  opacity: .7 !important;
}
.item.selected .overlay:after {
  color: #ffffff;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #000000 url(../images/selected.svg) no-repeat;
  background-position: 5px 0;
  background-size: 80% 80%;
}
.queueposition {
  position: relative;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 2px 2px black;
  width: 100%;
  height: 100%;
}
.item .preview {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-height: 1800px;
  background-size: cover;
  background-position: top center;
}
.filters {
  background: #ffffff;
  border: 10px solid #000000;
  font-size: 1.2em;
  border-right: 0px;
  width: 25%;
  height: 550px;
  margin-left: 0;
  position: fixed;
  top: 70px;
  left: 100%;
  padding: 1em;
  -webkit-transition: margin .4s;
  -moz-transition: margin .4s;
  -o-transition: margin .4s;
  -ms-transition: margin .4s;
  transition: margin .4s;
}
.filters h2,
.filters h4 {
  margin: 0 !important;
}
.filters h4 {
  width: 49%;
  display: inline-block;
}
.filters ul {
  list-style: none;
}
.filters ul li {
  margin: .5em 0;
}
.filters ul li label {
  cursor: pointer;
}
.filters ul li input {
  margin: 0 25px;
  height: 16px;
}
.filters ul #seemore,
.filters ul #cleardatefilter {
  cursor: pointer;
}
.filters ul #cleardatefilter {
  margin-top: 25px;
}
.filters input {
  font-size: 1.2em;
  border: 1px solid #cccccc;
  color: #888888;
  padding: .3em;
  margin-bottom: .5em;
}
.filters button {
  font-size: 1.2em;
  color: #000000;
  display: block;
  padding: .3em;
  background: transparent;
  border: 1px solid #000000;
}
.filters .open {
  width: 150px;
  height: 30px;
  background: #000000;
  border: 0px;
  color: #ffffff;
  padding-bottom: 12px;
  position: absolute;
  font-size: .9em;
  top: 60%;
  left: -52px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  overflow: hidden;
}
#userNames ul li {
  margin: 0.2em;
}
.filters .clear {
  position: absolute;
  top: 2em;
  right: .2em;
  font-size: 1em;
}
.filters input {
  -webkit-user-select: auto !important;
}
body.filter .filters {
  margin-left: -25%;
  position: absolute;
}
.upload {
  margin-top: 1em;
  padding: 1em;
}
.upload input {
  -webkit-user-select: auto !important;
}
#queueWrapper {
  display: none;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  z-index: 500;
}
#staticWrapper {
  position: relative;
  left: 10%;
  margin-top: 2em;
  text-align: center;
  display: none;
  width: 80%;
}
.queueFooter {
  background-color: #000000;
  margin: 0;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.queueFooter a {
  color: #ffffff;
}
.queue,
.published,
.killed {
  padding: 10px;
  margin: 0;
  background-color: #eeeeee;
}
.queue li,
.published li,
.killed li {
  width: 200px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  display: inline-block;
  margin: .5em 1em;
  vertical-align: top;
}
.queue li .itemoverlay,
.published li .itemoverlay,
.killed li .itemoverlay {
  width: 200px;
  height: 200px;
  background: black;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
  margin: -206px 0 0;
}
.queue li .itemoverlay div,
.published li .itemoverlay div,
.killed li .itemoverlay div {
  padding: 55px 16px 0;
  cursor: pointer;
}
.queue li .itemoverlay div img,
.published li .itemoverlay div img,
.killed li .itemoverlay div img {
  float: left;
}
.queue li .itemoverlay div span,
.published li .itemoverlay div span,
.killed li .itemoverlay div span {
  float: left;
  line-height: initial;
}
.queue li .itemoverlay .addtoqueue span,
.published li .itemoverlay .addtoqueue span,
.killed li .itemoverlay .addtoqueue span {
  margin: 4px 10px;
}
.queue li .itemoverlay .publish span,
.published li .itemoverlay .publish span,
.killed li .itemoverlay .publish span {
  margin: -2px 0 0 9px;
}
.queue li .itemoverlay .remove span,
.published li .itemoverlay .remove span,
.killed li .itemoverlay .remove span {
  margin: -26px 12px 0 35px;
}
.queue li .itemoverlay .restore span,
.published li .itemoverlay .restore span,
.killed li .itemoverlay .restore span {
  margin: 4px 10px;
}
.queue li .imgdata,
.published li .imgdata,
.killed li .imgdata {
  text-align: left;
}
.queue li .imgdata .metadata,
.published li .imgdata .metadata,
.killed li .imgdata .metadata {
  color: #000;
  font-size: 0.8em;
}
.queue li .imgdata .metadata .uploader,
.published li .imgdata .metadata .uploader,
.killed li .imgdata .metadata .uploader,
.queue li .imgdata .metadata .credit,
.published li .imgdata .metadata .credit,
.killed li .imgdata .metadata .credit,
.queue li .imgdata .metadata .tagslist,
.published li .imgdata .metadata .tagslist,
.killed li .imgdata .metadata .tagslist {
  color: green;
}
.queue li .imgdata .metadata .uploader span,
.published li .imgdata .metadata .uploader span,
.killed li .imgdata .metadata .uploader span,
.queue li .imgdata .metadata .credit span,
.published li .imgdata .metadata .credit span,
.killed li .imgdata .metadata .credit span,
.queue li .imgdata .metadata .tagslist span,
.published li .imgdata .metadata .tagslist span,
.killed li .imgdata .metadata .tagslist span,
.queue li .imgdata .metadata .uploader a,
.published li .imgdata .metadata .uploader a,
.killed li .imgdata .metadata .uploader a,
.queue li .imgdata .metadata .credit a,
.published li .imgdata .metadata .credit a,
.killed li .imgdata .metadata .credit a,
.queue li .imgdata .metadata .tagslist a,
.published li .imgdata .metadata .tagslist a,
.killed li .imgdata .metadata .tagslist a {
  cursor: pointer;
  color: grey;
}
.queue li .imgdata .metadata .uploader span:hover,
.published li .imgdata .metadata .uploader span:hover,
.killed li .imgdata .metadata .uploader span:hover,
.queue li .imgdata .metadata .credit span:hover,
.published li .imgdata .metadata .credit span:hover,
.killed li .imgdata .metadata .credit span:hover,
.queue li .imgdata .metadata .tagslist span:hover,
.published li .imgdata .metadata .tagslist span:hover,
.killed li .imgdata .metadata .tagslist span:hover,
.queue li .imgdata .metadata .uploader a:hover,
.published li .imgdata .metadata .uploader a:hover,
.killed li .imgdata .metadata .uploader a:hover,
.queue li .imgdata .metadata .credit a:hover,
.published li .imgdata .metadata .credit a:hover,
.killed li .imgdata .metadata .credit a:hover,
.queue li .imgdata .metadata .tagslist a:hover,
.published li .imgdata .metadata .tagslist a:hover,
.killed li .imgdata .metadata .tagslist a:hover {
  color: blue;
}
.header {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
/******* for published.html *******/
.published .itemoverlay {
  padding: 70px 10px;
  cursor: default;
}
li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}
.handle {
  cursor: move;
}
li.disabled {
  opacity: 0.5;
}
li.highlight {
  background: #FEE25F;
}
#clearAll {
  color: red;
}
#removeSelected {
  display: none;
  color: red;
}
