.cursor(@type:pointer) {
    cursor: @type;
}
.transition(@type:opacity, @len:.4s) {
    -webkit-transition: @type .4s;
    -moz-transition: @type .4s;
    -o-transition: @type .4s;
    -ms-transition: @type .4s;
    transition: @type .4s;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}

html, body {
    width:100%;
    height:100%;
    margin:0;
}

body {
    min-width:40em;
    .transition(width);
    
    header {
        position:fixed;
        top:0;
        left:0;
        background:#000000 url(../images/adultswim.svg) no-repeat;
        background-position:1em center;
        background-size: auto 50%;
        padding:1em 1em 1em 1em;
        height:60px;
        width:100%;
        min-width:800px;
        z-index:100;
        
        a {
            font-size: 1.2em;
            color: white;
            font-weight: bold;
            float: right;
            margin: 5px;
        }

        a:hover {
            color: blue;
        }
    }

    #clearfilter {
        float: left;
        margin-left: 20px;
        margin-top: 7px;
        .cursor;

        img, span {
            vertical-align: middle;
        }
    }

    .fullcontent {
        padding-top: 60px;
        
        .heading {
            margin-top: 5px;
            margin-left: 6px;
            margin-bottom: -10px;
            font-size: 22px;
            float: left;
        }

        #queue_btns {
            float:right;
            margin-top: -10px;

            div {
                display: inline-block;
                border: 2px solid;
                padding: 5px;
                margin: 0 15px 15px;
                vertical-align: middle;
                .cursor;

                img {
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }
    }
}

a, a:hover {
    text-decoration:none;
}

.item-wrapper {
	width: 300px;
	float: left;

    .imgdata .metadata {
        color: #000;
        font-size: 0.8em;

        .credit {
            color:blue;
        }

        .url {
            .cursor;
            verticl-align: top;

            a {
                max-width: 266px;
                overflow: hidden;
                display: inline-block;
            }
        }

        .uploader, .credit, .tagslist {
            color: green;

            span, a {
                .cursor;
                color: grey;
            }

            span:hover, a:hover {
                color: blue;
            }
        }
    }

    .itemoverlay {
        width: 200px;
        height: 200px;
        background: black;
        color: white;
        margin: -208px 8px 8px;
        opacity: 0;
        .transition(opacity, .2s);

        div {
            padding: 55px 16px 0;
            .cursor;

            img {
                float: left;
            }
            span {
                float: left;
                margin: 6px 10px;
            }
        }
    }
}

.notransition{
    -webkit-transition:none !important;
    -moz-transition:none !important;
    -o-transition:none !important;
    -ms-transition:none !important;
    transition:none !important;
}

section{
    width:100%;
    box-sizing:border-box;
    /*padding:1em;*/
}

.home {
    width: 200px;
    height: 59px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

div#queuebar {
    /*width:25%;*/
    height:60px;
    position:absolute;
    top:0;
    right:0;
    text-align:right;
    padding:1em;
    background:#000000;
    margin: 0.5em;
    font-size: 1.2em;

}

.gallery{
    .transition(width);
    width:100%;
    min-height:100%;
    margin-left:1%;
    padding-top:14px;
    -webkit-user-select:none;
    -webkit-user-drag:none;
}

.published_list {
    margin-left: 1%;
    padding-top: 14px;
}

body.filter .gallery{
    width:75%;
}

body.filter .filters{
    width:26%;
}


.gallery.loading .item{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    opacity:0;
}

.item{
    display:inline-block;
    overflow:hidden;
    width:200px;
    height:200px;
    border-radius:5px;

    margin:.5em;
    
    background-size:cover;
    background-position:0 0;
    background-repeat:no-repeat;
    
    -webkit-transition: opacity .2s, border .2s;
    -moz-transition: opacity .2s, border .2s;
    -o-transition: opacity .2s, border .2s;
    -ms-transition: opacity .2s, border .2s;
    transition: opacity .2s, border .2s;

    .overlay {
        position:relative;
        .transition(border, .2s);
        border:0px;
        background:none;
        width:100%;
        height:100%;
    }
}

.item.selected{
    .overlay{
        border:8px solid #000000;
    }
}

.itemoverlay.selected {
    opacity: .7 !important;
}

.item.selected .overlay:after{
    color:#ffffff;
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    background:#000000 url(../images/selected.svg) no-repeat;
    background-position:5px 0;
    background-size:80% 80%;
}

.queueposition {
    position: relative;
    color: #ffffff;
    font-size: 2em;
    text-shadow: 2px 2px black;
    width: 100%;
    height: 100%;
}

.item .preview{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    max-height:1800px;
    background-size:cover;
    background-position:top center;
}

.filters{
    background:#ffffff;
    border:10px solid #000000;
    font-size:1.2em;
    border-right:0px;
    width:25%;
    height:550px;
    margin-left:0;
    position:fixed;
    top:70px;
    left:100%;
    padding:1em;
    -webkit-transition:margin .4s;
    -moz-transition:margin .4s;
    -o-transition:margin .4s;
    -ms-transition:margin .4s;
    transition:margin .4s;

    h2, h4 {
        margin: 0 !important;
    }

    h4 {
        width: 49%;
        display: inline-block;
    }

    ul {
        list-style:none;

        li {
            margin:.5em 0;

            label {
                .cursor;
            }
            input {
                margin: 0 25px;
                height: 16px
            }
        }
        #seemore, #cleardatefilter {
            .cursor;
        }
        #cleardatefilter {
            margin-top: 25px;
        }
    }

    input {
        font-size:1.2em;
        border:1px solid #cccccc;
        color:#888888;
        padding:.3em;
        margin-bottom:.5em;
    }

    button {
        font-size:1.2em;
        color:#000000;
        display:block;
        padding:.3em;
        background:transparent;
        border:1px solid #000000;
    }

    .open {
        width:150px;
        height:30px;
        background:#000000;
        border:0px;
        color:#ffffff;
        padding-bottom:12px;
        position:absolute;
        font-size:.9em;
        top:60%;
        left:-52px;
        -webkit-transform-origin:0 0;
        -moz-transform-origin:0 0;
        -o-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        transform:rotate(270deg);
        overflow: hidden;
    }
}

#userNames ul li {
    margin: 0.2em;
}

.filters .clear{
    position:absolute;
    top:2em;
    right:.2em;
    font-size:1em;
}

.filters input {
    -webkit-user-select: auto !important;
}

body.filter .filters{
    margin-left:-25%;
    position: absolute;
}

.upload {
    margin-top: 1em;
    padding: 1em;
}

.upload input {
    -webkit-user-select: auto !important;
}

#queueWrapper {
    display: none;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    z-index: 500;
}

#staticWrapper {
    position: relative;
    left: 10%;
    margin-top: 2em;
    text-align: center;
    display: none;
    width: 80%;
}

.queueFooter {
    background-color: #000000;
    margin: 0;
    padding: 0.5em;
    font-size:1.2em;
    font-weight:bold;
    text-align: right;
}

.queueFooter a {
    color: #ffffff;
}

.queue, .published, .killed {
    padding: 10px;
    margin: 0;
    background-color: #eeeeee;

    li {
        width: 200px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 20px;
        display: inline-block;
        margin: .5em 1em;
        vertical-align: top;

        .itemoverlay {
            width: 200px;
            height: 200px;
            background: black;
            color: white;
            opacity: 0;
            .transition(opacity, .2s);
            margin: -206px 0 0;

            div {
                padding: 55px 16px 0;
                .cursor;

                img {
                    float: left;
                }
                span {
                    float: left;
                    line-height: initial;
                }
            }

            .addtoqueue span {
                margin: 4px 10px;
            }

            .publish span {
                margin: -2px 0 0 9px;
            }

            .remove span {
                margin: -26px 12px 0 35px;
            }

            .restore span {
                margin: 4px 10px;
            }
        }

        .imgdata {
            text-align: left;

            .metadata {
                color: #000;
                font-size: 0.8em;

                .uploader, .credit, .tagslist {
                    color: green;

                    span, a {
                        .cursor;
                        color: grey;
                    }

                    span:hover, a:hover {
                        color: blue;
                    }
                }
            }
        }
    }

    
}

.header {
    background-color: #000000;
    color:#ffffff;
    margin: 0;
    padding: 0.5em;
    font-size:1.2em;
    font-weight:bold;
}

/******* for published.html *******/
.published {
    .itemoverlay {
        padding: 70px 10px;
        .cursor(default);
    }
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

.handle {
    cursor: move;
}

li.disabled {
    opacity: 0.5;
}

li.highlight {
    background: #FEE25F;
}

#clearAll {
    color: red;
}

#removeSelected {
    display: none;
    color: red;
}

@media screen AND (min-width:60em){

}

@media screen AND (max-width:60em){

}

@media screen AND (max-width:40em){
  
}
